<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.igbypass.module">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IG Update Bypass">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Bypasses Instagram force-update popup" />
        <meta-data android:name="xposedminversion" android:value="93" />

        <activity
            android:name=".MainActivity"
            android:label="IG Update Bypass"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
